.cabecalho {
	display: flex;
	flex-direction: column;
}

.cabecalho__container{
	align-items: center;
	display: flex;
}

.cabecalho__pesquisa {
	display: flex;
	flex-direction: row;
}

.pesquisa__texto {
	background: var(--cinza-claro);
	border: none;
	border-radius: 20px 0 0 20px;
	font-family: var(--raleway);
	float: left;
	height: 40px;
	padding: 0 10px;
}

.pesquisa__lupa {
	align-items: center;
	background-color: var(--cinza-claro);
	border: none;
	border-radius: 0 20px 20px 0;
	display: flex;
	flex-direction: column;
	height: 40px;
	justify-content: center;
	width: 30px;
}

.cabecalho__botao {
	border: 1px solid var(--azul-claro);
	background: white;
	color: var(--azul-claro);
	cursor: pointer;
	height: 40px;
}

.banner__container {
	display: flex;
	align-items: flex-end;
	position: relative;
	background: url(../img/banner-image.png) no-repeat center / cover;
	height: 352px;
}

.banner__descricao {
	display: flex;
	flex-direction: column;
	font-family: var(--raleway);
	font-weight: 700;
	position: absolute;
}

.banner__titulo, .banner__texto {
	color: var(--branco);
	margin-bottom: 20px;
}

.banner__botao {
	background: #2A7AE4;
	border: none;
	color: var(--branco);
	cursor: pointer;
	height: 40px;
	font-family: var(--raleway);
	font-weight: 300;
	width: 120px;
}

@media screen and (min-width: 0) {
	.cabecalho__container {
		height: 80px;
		justify-content: space-around;
	}

	.cabecalho__pesquisa {
		width: 27%;
	}

	.cabecalho__logo {
		width: 100px;
	}

	.cabecalho__botao {
		width: 120px;
	}

	.pesquisa__texto {
		display: none;
	}

	.pesquisa__lupa {
		display: none;
	}

	.banner__descricao {
		padding: 25px;
	}

	.banner__titulo {
		font-size: 25px;
		font-weight: 600;
	}

	.banner__texto {
		font-size: 15px;
		font-weight: 500;
	}
}

@media screen and (min-width: 768px) {
	.cabecalho__pesquisa {
		align-items: center;
		width: 60%;
	}

	.pesquisa__texto {
		display: block;
		width: 60%;
		margin-left: 30px;
	}

	.pesquisa__lupa {
		display: flex;
	}

	.pesquisa__lupa-mobile {
		display: none;
	}

	.banner__descricao {
		padding: 30px 50px;
	}

	.banner__titulo {
		font-size: 50px;
	}

	.banner__texto {
		font-size: 22px;
	}
}

@media screen and (min-width: 992px) {
	.cabecalho__container {
		height: 120px;
		justify-content: space-evenly;
	}

	.cabecalho__logo {
		width: 180px;
	}

	.pesquisa__texto {
		width: 40%;
		margin-left: 40px;
	}

	.cabecalho__botao {
		width: 160px;
	}

	.banner__descricao {
		padding: 50px 150px;
	}

	.banner__titulo {
		font-size: 60px;
	}

	.banner__texto {
		font-size: 20px;
	}
}