.cabecalho {
	display: flex;
	flex-direction: column;
	height: auto;
}

.cabecalho__container{
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.cabecalho__pesquisa {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 60%;
}

.pesquisa__texto {
	border: none;
	background: #F5F5F5;
	border-radius: 20px;
	height: 40px;
	width: 40%;
	margin-left: 40px;
}

.pesquisa__logo {
	position: absolute;
	top: 50px;
	left: 640px;
}

.cabecalho__botao {
	width: 160px;
	height: 40px;
	background: white;
	color: #2A7AE4;
	border: 1px solid #2A7AE4;
}

.banner__container {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-image.png);
	display: flex;
	align-items: flex-end;
	height: 352px;
}

.banner__descricao {
	display: flex;
	flex-direction: column;
	padding: 50px 150px;
}

.banner__titulo {
	color: white;
	font-size: 60px;
	margin-bottom: 20px;
}

.banner__texto {
	color: white;
	font-size: 25px;
	margin-bottom: 20px;
}

.banner__botao {
	width: 120px;
	height: 40px;
	background: #2A7AE4;
	color: white;
	border: none;
}

@media screen and (min-width: 0px) {}