.cabecalho__container {
	justify-content: space-between;
	padding: 0 96px;
}

.destaque {
	align-items: center;
	background-color: var(--branco-acinzentado);
	flex-direction: column;
	display: flex;
	height: 900px;
	justify-content: space-around;
}

.destaque__principal {
	align-items: center;
	display: flex;
	height: 403px;
	justify-content: space-between;
	width: 1136px;
}

.destaque__container {
	display: flex;
}

.destaque__imagem {
	height: 403px;
	width: 560px;
}

.destaque__produto {
	color: var(--cinza);
	font-family: var(--raleway);
	height: 210px;
	width: 560px;
}

.destaque__titulo {
	font-size: 52px;
	font-weight: 500;
	line-height: 61px;
}

.destaque__descricao {
	font-size: 16px;
	font-weight: 400;
	line-height: 18.5px;
}

.destaque__preco {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.destaque__similares {
	display: flex;
	flex-direction: column;
	font-family: var(--raleway);
	height: 305px;
	justify-content: space-between;
	width: 1136px;
}

.similares__lista {
	display: flex;
	justify-content: space-between;
}

.similares__titulo {
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
}

.similares__info {
	display: flex;
	flex-direction: column;
	height: 78px;
	justify-content: space-around;
}

.produto__nome {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.produto__preco, .produto__link {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.produto__link {
	color: var(--azul-claro);
	text-decoration: none;
}

@media screen and (min-width: 0) {
	.destaque {
		height: 1000px;
	}

	.destaque__principal {
		flex-direction: column;
		width: 360px;
	}

	.destaque__imagem {
		height: 192px;
		width: 100vw;
	}

	.destaque__produto {
		width: 360px;
		height: 220px;
	}

	.destaque__titulo {
		font-size: 22px;
	}

	.destaque__descricao {
		font-size: 14px;
		line-height: 16.5px;
	}

	.destaque__similares {
		height: 590px;
		justify-content: center;
		width: 360px;
	}

	.similares__titulo {
		font-size: 22px;
		line-height: 26px;
	}

	.similares__lista {
		flex-wrap: wrap;
	}

	.similares__lista :nth-child(n+5) {
		display: none;
	}
}