.login__container {
	align-items: center;
	background: var(--cinza-claro);
	display: flex;
	flex-direction: column;
	height: 480px;
	justify-content: center;
}

.form__login {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 430px;
}

.titulo__login {
	font-family: var(--raleway);
	font-weight: 700;
	font-size: 18px;
}

.container__input {
	position: relative;
}

.input__login {
	border: none;
	border-radius: 4px;
	border-bottom: 1px solid var(--borda-cinza);
	color: var(--cinza-metal);
	font-family: var(--raleway);
	font-size: 16px;
	outline: 0;
	position: relative;
	z-index: 2;
}

.input__titulo {
	color: var(--cinza-metal);
	font-family: var(--raleway);
	font-size: 12px;
	font-weight: 500;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 0;
}

.input__login:focus + .input__titulo,
.input__login:not(:placeholder-shown) + .input__titulo {
	z-index: 2;
}

.input__login:focus {
	border-color: var(--azul-claro);
}

.botao__login {
	background: var(--azul-claro);
	border: none;
	color: var(--branco);
	font-family: var(--raleway);
	font-weight: 500;
}

@media screen and (min-width: 0) {
	.cabecalho__container {
		justify-content: space-between;
		padding: 0 20px;
	}

	.login__container {
		height: 360px;
	}

	.form__login {
		height: 200px;
	}

	.input__login {
		height: 40px;
		width: 265px;
		padding: 0 10px;
	}

	.input__titulo {
		padding: 2px;
	}

	.botao__login {
		font-size: 15px;
		height: 40px;
		width: 110px;
	}
}

@media screen and (min-width: 992px) {
	.cabecalho__container {
		justify-content: space-between;
		padding: 0 150px;
	}

	.pesquisa__texto {
		width: 60%;
	}

	.login__container {
		height: 480px;
	}

	.form__login {
		height: 300px;
	}

	.input__login {
		height: 65px;
		padding: 0 20px;
		width: 400px;
	}

	.input__titulo {
		padding: 5px;
	}

	.botao__login {
		height: 65px;
		width: 440px;
	}
}