.rodape__principal {
	background: var(--azul-cristal);
	display: flex;
}

.rodape__itens {
	height: 150px;
}

.rodape__nav {
	height: 100%;
}

.rodape__lista {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.rodape__link {
	color: var(--cinza);
	cursor: pointer;
	font-family: var(--raleway);
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}

.rodape__form {
	height: 100%;
}

.titulo__form {
	color: var(--cinza);
	font-family: var(--raleway);
	font-weight: bold;
}

.form__input {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
}

.nome__float {
	position: relative;
}

.form__nome {
	border: none;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid var(--borda-cinza);
	font-family: var(--raleway);
	height: 40px;
	position: relative;
	outline: 0;
	width: 98%;
	z-index: 2;
	padding: 0 2%;
}

.label__nome {
	color: var(--cinza-metal);
	font-family: var(--raleway);
	font-size: 12px;
	font-weight: 500;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 0;
}

.form__nome:focus + .label__nome, 
.form__nome:not(:placeholder-shown) + .label__nome {
	z-index: 2;
}

.form__mensagem {
	border: none;
	border-radius: 5px 0;
	border-bottom: 1px solid var(--borda-cinza);
	font-family: var(--raleway);
	height: 100px;
	outline: 0;
	padding: 0 2%;
	resize: none;
	width: 98%;
}

.form__nome:focus, .form__mensagem:focus {
	border-color: var(--azul-claro);
}

.form__erro {
	border-color: red;
}

.form__botao {
	border: none;
	background: var(--azul-claro);
	color: var(--branco);
	cursor: pointer;
	font-family: var(--raleway);
	height: 40px;
	width: 150px;
}

.rodape__infos {
	align-items: center;
	background: var(--branco);
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-around;
	text-align: center;
}

.rodape__nome {
	font-family: var(--raleway);
	font-weight: 500;
	font-size: 15px;
}

@media screen and (min-width: 0) {
	.rodape__principal {
		align-items: center;
		flex-direction: column;
		height: 560px;
		justify-content: space-between;
		padding: 1.5rem;
	}

	.rodape__itens {
		height: 240px;
		text-align: center;
		width: 100%;
	}

	.rodape__lista {
		justify-content: space-around;
	}

	.rodape__form {
		height: 230px;
		width: 100%;
	}

	.rodape__link {
		line-height: 20px;
	}
}


@media screen and (min-width: 768px) {
	.rodape__principal {
		align-items: flex-start;
		flex-direction: row;
		height: 250px;
		justify-content: space-around;
	}

	.rodape__form {
		width: 60%;
	}

	.rodape__itens {
		display: flex;
		flex-direction: column;
		height: 100%;
		text-align: inherit;
		justify-content: flex-start;
		width: 30%;
	}

	.rodape__logo {
		width: 170px;
	}

	.rodape__lista {
		justify-content: space-around;
	}
}

@media screen and (min-width: 992px) {
	.rodape__principal {
		padding: 3rem;
	}

	.rodape__form {
		width: 35%;
	}

	.rodape__itens {
		flex-direction: row;
		justify-content: space-around;
		width: 45%;
	}

	.rodape__logo {
		height: 50px;
	}

	.rodape__lista {
		justify-content: space-between;
	}
}