:root {
	--azul-claro: #2A7AE4;
	--azul-cristal: #EAF2FD;
	--branco: #FFFFFF;
	--branco-acinzentado: #E5E5E5;
	--borda-cinza: #C8C8C8;
	--cinza-claro: #F5F5F5;
	--cinza-metal:  #A2A2A2;
	--cinza: #464646;

	--raleway: 'Raleway', sans-serif;
}